[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytelegrambotapi = "==4.5.1"
python-dotenv = "==0.20.0"

[dev-packages]
flake8 = "*"
black = "*"
isort = "*"
mypy = "*"

[requires]
python_version = "3.6"
